$spacing: 8px;
// $primary-color: #faedcd;
$primary-color: #f8edeb;
$light-color:#fefae0;
$lo-color: #e29578;
$secondary-color: #d4a373;
$third-color:#b08968;
$primary-text-color:#000;
$base-color:#fff;
$secondary-text-color: rgba(0, 0, 0, 0.8);
$position-color:rgba(0, 0, 0, 0.4);
 // border: 1px solid #e9edc9;